*
{
	margin: 0;
	padding: 0;
	font-family: consolas;
}

body{
	
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #f8f8f8;
}

.container {
	position:  relative;
	width: 600px;
	<!-- margine ->
	


}

.container h2 {
	font-size: 36px;
	color: #333;
	font-weight: bolder;

}
.container input{

	position: relative;
	width: 100%px;
	height: 80px;
	border: none;
	margin: 15px 0 20px;
	background: transparent;
	outline: none;
	padding: 0 20px;
	font-size: 24px;
	letter-spacing: 4px;
	box-sizing: border-box;
	border-radius: 8px;
	color: #333;
	box-shadow: -4px -4px 10px rgba(255,255,255,1),
				inset 4px 4px 10px rgba(0,0,0,0.05),
				inset -4px -4px 10px rgba(255,255,255,1),
				inset 4px 4px 10px rgba(0,0,0,0.05);
}

.container input::placeholder {
	letter-spacing: 0px;
}

.container .btn{
	position: relative;
	cursor: pointer;
	
	font-size: 18px;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 8px;
}

.container .btn:active{
	background: darkblue;

}









